@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.wrapper {
    display: flex;  
    flex-direction: column;
    align-items: center;
    height: 800px;
    text-align: center;
    background-color: #F8EEE2;
    font-family: Arial, sans-serif;
    width: 400px;
    padding: 40px;
    border-radius: 20px;
  }
  
.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .app-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
    font-family: 'Titan One';
  }
  
  .center-image img {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .bold-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 0.5rem;
    font-weight: 900;
  }
  
  .text {
    font-size: 1rem;
    color: #555;
    max-width: 400px;
    margin-bottom: 1.5rem;
    font-weight: 800;
  }

  .bullet-point-wrapper {
    display: flex;
    justify-content: space-between;
    width: 50px;
    align-items: center;
}

.bullet {
    height: 8px;
    border-radius: 3px;
    width: 8px;
    border-radius: 3px;
    
    background-color: #e8a797;
    transition: all 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.active {
    background-color: #d9614c;
    transform: scale(1.5);
}

.get-started {
  height: 90px;
  border: none;
  background-color: #d9614c;
  color: white;
  font-weight: 900;
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: 5px;
  border-radius: 15px;
}

.sign-in {
  font-weight: 900;
  color: #d9614c;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

.get-started:hover {
  background-color: #e8a797;
}
.sign-in:hover {
  color: #e8a797;
}

.center-image img {
  width: 300px;
}

.showIcon {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
 
.icon {
  z-index: 100;
  color: blue;
}
  

}
.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}